<div class="jumbotron">
  <h1 class="display-4">Scraping News</h1>
  <hr class="my-4">
  <p>This website is scraping news from a website</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Home</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Clear Articles</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Scrape New Articles</a>
  <a class="btn btn-primary btn-lg" href="/saved" role="button">Saved Articles</a>
</div>

<h1>This is the Saved Handlebars</h1>
